body{
  overflow-y: hidden;
  background: rgb(51,51,51);
  font-family: 'Segoe UI';
  color: white;
}
.main-content{
  margin-top: 3%;
  padding: 3%;
}
.left-content, .right-content{
  min-height: 100vh;
  max-height: 100vh;
  border-top: 1px solid rgba(255,255,255,0.5);
}
.right-content{
  padding: 2%!important;
}
.right-content img{
  margin-top: 5%;
  width: 100%;
}
.content{
  min-height: 100vh;
  margin-top: 8%!important;
  overflow-y: scroll;
  border-right: 1px solid rgba(255,255,255,0.2);
}
::-webkit-scrollbar {
    display: none;
}
.custom-button{
  background: rgb(69,133,234);
  outline: none;
  border: none;
  border-radius: 20px;
  min-width: 30%;
  padding: 1%!important;
  margin-top: -10%;
}
.custom-button:focus{
  background: rgb(69,133,234);
  border: none;
  outline: none;
}
.custom-button:hover,.custom-facebook:hover{
  box-shadow: 5px 10px 10px rgba(31,31,31,1);
  transition: 0.3s;
}
.custom-facebook,.custom-facebook:focus{
  color: white;
  margin-left: -4%;
  font-weight: 700;
  font-size: 150%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: rgb(70,114,175);
  border: none;
}
